<style>
  .container {
    display: flex;
    justify-content: center;
  }

  .component-warpper {
    width: 400px;
    margin: 10px auto;
    border: 1px solid #d1d5db;
    padding: 25px 20px;
    border-radius: 5px;
  }
</style>
<div class="container">
  <div class="component-warpper">
    <authorizer-provider [config]="{
      authorizerURL: 'http://localhost:8080',
      redirectURL: 'http://localhost:4000/dashboard'
    }" [onStateChangeCallback]="stateChangeCallback.bind(this)">
      <router-outlet></router-outlet>
    </authorizer-provider>
  </div>
</div>
