<style>
  /* :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */
</style>

<div>
  <authorizer-provider></authorizer-provider>
  <authorizer-basic-auth-login></authorizer-basic-auth-login>
  <authorizer-forgot-password></authorizer-forgot-password>
  <authorizer-magic-link-login></authorizer-magic-link-login>
  <authorizer-reset-password></authorizer-reset-password>
  <authorizer></authorizer>
  <authorizer-signup></authorizer-signup>
  <authorizer-social-login></authorizer-social-login>
  <authorizer-verify-otp></authorizer-verify-otp>
</div>

<router-outlet></router-outlet>
